html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul{
  list-style-type:none;
}

input:focus{
  outline:red;
}

button{
  cursor:pointer;
}

.layout{
  background-color:"red"
}


.fade{
  opacity:0.5;
}
.fade:hover{
opacity:1!important;
}




/* desktop design  */

@media only screen and (min-width: 768px) {

  /* home page  */



  /* auth layout */

  .layout{
    background-color:"red"
  }
 
}


