
.detailsMain{
    margin:0;
    width:100vw;
}
.formWrapper{
   border-radius:0;
   padding:20px;
   margin-bottom:0;
}

@media only screen and (min-width: 780px) {

    .grid2{
        display:grid;
        grid-template-columns:repeat(2,1fr);
        column-gap:20px;
    }

    .detailsMain{
        margin:23px;
        width:fit-content;
    }
    .formWrapper{
        border-radius:8px;
        padding:38px 70px;
        margin-bottom:32px;
    }

}